<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBswX0RRWrj5imWSyauBDpDXGNUN4YCAdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>239730935229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xntle.happyjar2</string>
	<key>PROJECT_ID</key>
	<string>happyjar2-e5f7a</string>
	<key>STORAGE_BUCKET</key>
	<string>happyjar2-e5f7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239730935229:ios:75f9ebe03d53ef05a37ed4</string>
</dict>
</plist>